{% extends 'index.html' %}
{% block content %}
<body>
    <div>
        <button><a href="{% url 'main' %}">메인으로</a></button>
    </div>
    <div>
        <form action="{% url 'schema' %}" method="post">
            {% csrf_token %}
            <br>
            <div>
                <input type="text" id="table_name" name="table_name">
            </div>
            <br>
            <div>
                <textarea name="schema" id="schema" rows="25" cols="50"></textarea>
            </div>
            <input type="submit" value="등록" class="btn btn-primary">
        </form>
    </div>
</body>
{% endblock %}