{% extends 'index.html' %}
{% block content %}
    <head>
    <style>
        table{
             border: 1px solid #444444;
        }
        th, td{
            border: 1px solid #444444;
        }
    </style>
    </head>
    {% if success %}
    <table style="table-layout: fixed">
    <thead>
    <tr>
        <th scope="col">테이블A</th>
        <th scope="col">테이블A<br>레코드 수</th>
        <th scope="col">결합 키<br>속성A</th>
        <th scope="col">테이블B</th>
        <th scope="col">테이블B<br>레코드 수</th>
        <th scope="col">결합 키<br>속성B</th>
        <th scope="col">대표<br>결합키</th>
        <th scope="col">결과<br>레코드 수</th>
        <th scope="col">결합성공률<br>(W1)</th>
        <th scope="col">결합성공률<br>(W2)</th>
        <th scope="col">결합 진행상황</th>
        <th scope="col">결합 테이<br>블명</th>
    </tr>
    </thead>
    <tbody>
        <td>{{ tablename }}</td>
        <td>{{ base_count }}</td>
        <td>{{ base_key_prop }}</td>
        <td>{{ join_table_name }}</td>
        <td>{{ join_count }}</td>
        <td>{{ join_key_prop }}</td>
        <td>{{ rkey }}</td>
        <td>{{ join_result_count }}</td>
        <td>{{ W1 }}</td>
        <td>{{ W2 }}</td>
        <td>{{ result }}</td>
        <td>{{ result_table_name }}</td>
    </tbody>
    </table>
    {% else %}
    <h3>Join failed :( </h3>
    <h3>Error: </p>{{msg}}</h3>
    {% endif %}

{% endblock %}
