{% extends 'index.html' %}
{% block content %}
{% if login == 1 %}
<div class="container-fluid">
  <h4 class="mb-3 mt-5">단일 결합</h4>
  <small id="Help" class="form-text text-muted mb-2">각 검색은 OR 연산으로 이루어집니다. 단, 속성명을 입력할 경우 해당 속성이 없는 테이블은 검색되지 않습니다.</small>
  <form class="form-inline mb-3" method="post" action="{% url 'singlejoin_main' %}" >
    {% csrf_token %}
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">테이블 명</div>
      </div>
      <input type="text" class="form-control" id="table_name" name="table_name" placeholder="TABLE NAME">
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">표준 결합키</div>
      </div>
      <select class="custom-select mr-sm-2" id="standard_key" name="standard_key">
        <option selected>표준 결합키</option>
        {% for key in standard_keys %}
          <option value={{key}}>{{key}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">대표 속성</div>
      </div>
      <select class="custom-select mr-sm-2" id="rprop" name="rprop">
        <option selected>대표 속성</option>
        {% for key in representative_props %}
          <option value={{key}}>{{key}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">속성명</div>
      </div>
      <input type="text" class="form-control" id="prop_name" name="prop_name" placeholder="PROPERTY">
    </div>
    <button type="submit" class="btn btn-link mb-2">검색</button>
  </form>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">테이블 명</th>
          <th scope="col">레코드 수</th>
          <th scope="col">대표 속성</th>
          <th scope="col">대표 결합키</th>
        </tr>
      </thead>
      <tbody>

      {% for tuples in total_tables %}
        <tr><form method="post" action="{% url 'singlejoin' %}">
          {% csrf_token %}
        {% for data in tuples %}
          {% if forloop.first%}
          <td><button class="btn btn-link" type="submit" name="table_name" value={{data}}>{{data}}</button></td>
          {% elif forloop.last %}
          <td><select class="custom-select mr-sm-2" id="rkey" name="rkey">
            {% for key in data %}
              <option value={{key}}>{{key}}</option>
            {% endfor %}
          </select></td>
          {% elif forloop.counter == 3 %}
          <td><select class="custom-select mr-sm-2" id="rprop" name="rprop">
            {% for key in data %}
              <option value={{key}}>{{key}}</option>
            {% endfor %}
          </select></td>
          {% else %}
          <td>{{data}}</td>
          {% endif %}
        {% endfor %}
        </tr></form>
      {% endfor %}
      </tbody>
  </table>

</div>
{% else %}
<h3> DB로그인을 해주세요 </h3>
{% endif %}
{% endblock %}